<mat-toolbar color="primary" class="header__container">
  <div class="header__wrapper">
    <a mat-button class="header__brand-link" routerLink="/">
      <mat-icon svgIcon="icon-dice" class="header__brand-logo"></mat-icon>
      <span class="header__brand-name">Board Games</span>
    </a>
    <a mat-button class="header__navigation-link" routerLink="/home" routerLinkActive="header__navigation-link--active">
      {{ 'Home' | translate }}
    </a>
    <a mat-button class="header__navigation-link" routerLink="/games" routerLinkActive="header__navigation-link--active">
      {{ 'Games' | translate }}
    </a>
    <a mat-button class="header__navigation-link" routerLink="/about" routerLinkActive="header__navigation-link--active">
      {{ 'About' | translate }}
    </a>
    <span fxFlex></span>
    <button mat-button (click)="openUserSettingsDialog()">
      <mat-icon class="header__user-icon" svgIcon="icon-user"></mat-icon>
      <span class="header__user-name">{{ userName$ | async }}</span>
    </button>
  </div>
</mat-toolbar>
