@import '../../css/mixins';

$brand-name-margin-left: 10px;
$user-name-margin-left: 5px;

.header {
  @include setFixedWidth;
}

.header__brand-name {
  margin-left: $brand-name-margin-left;
}

.header__navigation-link--active {
  text-decoration: underline;
}

.header__user-name {
  margin-left: $user-name-margin-left;
}
