@import '../../css/mixins';

$brand-link-margin-right: 30px;
$brand-name-margin-left: 15px;
$brand-name-font-size: 20px;
$brand-logo-top: 7px;
$brand-logo-left: 0px;
$navigation-link-font-size: 16px;
$navigation-link-padding-top: 2px;
$user-name-margin-left: 5px;
$header-z-index: 1000;

.header__container {
  position: sticky;
  top: 0;
  z-index: $header-z-index;
}

.header__wrapper {
  @include setFixedWidth;
}

.header__brand-link {
  margin-right: $brand-link-margin-right;
}

.header__brand-logo {
  position: absolute;
  top: $brand-logo-top;
  left: $brand-logo-left;
}

.header__brand-name {
  font-size: $brand-name-font-size;
  margin-left: $brand-name-margin-left;
}

.header__navigation-link {
  font-size: $navigation-link-font-size;
  padding-top: $navigation-link-padding-top;
}

.header__navigation-link--active {
  text-decoration: underline;
}

.header__user-name {
  margin-left: $user-name-margin-left;
}
