<table
  *ngIf="games.length"
  matSort
  fxFlex="0 0 100%"
  (matSortChange)="sortData($event)"
>
  <tr>
    <th mat-sort-header="type">{{ 'Column game type' | translate }}</th>
    <th mat-sort-header="name">{{ 'Column game name' | translate }}</th>
    <th mat-sort-header="players">{{ 'Column game players' | translate }}</th>
    <th mat-sort-header="created">
      {{ 'Column game created at' | translate }}
    </th>
    <th></th>
  </tr>

  <tr *ngFor="let game of games">
    <td>
      <mat-icon
        [svgIcon]="gameTypeIcons[game.type]"
        title="{{ gameTypeName[game.type] | translate }}"
      ></mat-icon>
    </td>
    <td>{{ game.name }}</td>
    <td>
      {{ game.players.length }}
      <ng-container *ngIf="game.maxPlayersNumber">
        / {{ game.maxPlayersNumber }}
      </ng-container>
    </td>
    <td>{{ game.createdDate | date: 'short' }}</td>
    <td>
      <button mat-stroked-button color="primary" (click)="joinGame(game)">
        {{ 'Join' | translate }}
      </button>
    </td>
  </tr>
</table>

<mat-spinner
  class="list__spinner"
  *ngIf="!games.length && isLoading"
></mat-spinner>

<span fxFlex *ngIf="!games.length && !isLoading">
  {{ 'No running games' | translate }}
</span>
