$about-contact-item-line-height: 40px;
$about-contact-item-icon-top: 5px;
$about-contact-item-icon-left: -30px;

.about__list {
  list-style: none;
  line-height: $about-contact-item-line-height;
}

.about__list-item {
  position: relative;
}

.about__list-item-icon {
  position: absolute;
  top: $about-contact-item-icon-top;
  left: $about-contact-item-icon-left;
}

.about__list-item-name {
  text-decoration: none;
}
